In [1]:
import os
import numpy as np
import pandas as pd
from ultralytics import YOLO
from sklearn.model_selection import train_test_split as tts
import cv2
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

from DataAccessor import access

In [2]:
data = pd.read_csv(access("./Dataset", "faces.csv"))
data

        image_name  width  height   x0   y0    x1   y1
0     00001722.jpg   1333    2000  490  320   687  664
1     00001044.jpg   2000    1333  791  119  1200  436
2     00001050.jpg    667    1000  304  155   407  331
3     00001736.jpg    626     417  147   14   519  303
4     00003121.jpg    626     418  462   60   599  166
...            ...    ...     ...  ...  ...   ...  ...
3345  00002232.jpg    620     349    4   36   186  158
3346  00002232.jpg    620     349  122  103   344  248
3347  00002232.jpg    620     349  258  118   541  303
3348  00002232.jpg    620     349  215   11   362  108
3349  00002232.jpg    620     349  330    1   487   81

[3350 rows x 7 columns]

In [3]:
for index,row in data.iterrows():
    bb_width_scaled = (row['x1'] - row['x0'])/row['width']
    bb_height_scaled = (row['y1']- row['y0'])/row['height']
    bb_x_center_scaled = ((row['x1']+row['x0'])/2.0)/row['width']
    bb_y_center_scaled = ((row['y1']+row['y0'])/2.0)/row['height']
    
    data.loc[index, ['bb_x_center_scaled', 'bb_y_center_scaled', 'bb_width_scaled', 'bb_height_scaled']] = [bb_x_center_scaled,bb_y_center_scaled,bb_width_scaled,bb_height_scaled]

In [4]:
multiple_faces_dir = "./Dataset/test_imgs/Multiple Faces"
single_faces_dir = "./Dataset/test_imgs/Single Faces"
single_face_types = os.listdir(single_faces_dir)

In [5]:
single_face_types

['all_bw', 'all_color', 'darker_color', 'lighter_color']

In [6]:
test_data = pd.DataFrame()

In [7]:
for img in os.listdir(os.path.join(multiple_faces_dir, 'images')):
    img_data = data[data['image_name'] == img]
    test_data = pd.concat([test_data, img_data])
    
for face_type in single_face_types:
    current_face_dir = os.path.join(single_faces_dir, face_type, 'images')
    for img in os.listdir(current_face_dir):
        img_data = data[data['image_name'] == img]
        test_data = pd.concat([test_data, img_data])

In [8]:
test_data

,image_name,width,height,x0,y0,x1,y1,bb_x_center_scaled,bb_y_center_scaled,bb_width_scaled,bb_height_scaled
2669,00000024.jpg,829,580,167,36,257,109,0.255730,0.125000,0.108565,0.125862
2670,00000024.jpg,829,580,573,38,664,111,0.746080,0.128448,0.109771,0.125862
1240,00000115.jpg,1024,683,267,132,472,291,0.360840,0.309663,0.200195,0.232796
318,00000239.jpg,500,486,117,181,174,245,0.291000,0.438272,0.114000,0.131687
319,00000239.jpg,500,486,217,121,271,181,0.488000,0.310700,0.108000,0.123457
...,...,...,...,...,...,...,...,...,...,...,...
1379,00003233.jpg,800,800,337,197,475,357,0.507500,0.346250,0.172500,0.200000
36,00003323.jpg,408,612,170,77,247,208,0.511029,0.232843,0.188725,0.214052
2364,00003402.jpg,236,354,81,45,149,163,0.487288,0.293785,0.288136,0.333333
499,00003480.jpg,236,156,80,21,148,73,0.483051,0.301282,0.288136,0.333333
783,00003482.jpg,236,157,88,48,133,83,0.468220,0.417197,0.190678,0.222930

In [9]:
def create_labels(data, imgs_dir, labels_dir):
    if not os.path.exists(labels_dir):
        os.makedirs(labels_dir)
    
    unique_img_names = os.listdir(imgs_dir)
    imgs_grouped_by_name = pd.Series([pd.DataFrame(data[data['image_name'] == img_name]) for img_name in unique_img_names])
    
    for img_df in imgs_grouped_by_name:
        labels_path = os.path.join(labels_dir, img_df['image_name'].values[0].replace('.jpg','.txt'))
        for index, row in img_df.iterrows():
            with open(labels_path, 'a') as labels_file:
                labels_file.write(f"0 {row['bb_x_center_scaled']} {row['bb_y_center_scaled']} {row['bb_width_scaled']} {row['bb_height_scaled']}\n")

In [10]:
def create_labels2(data, imgs_dir, labels_dir):
    if not os.path.exists(labels_dir):
        os.makedirs(labels_dir)
    
    unique_img_names = os.listdir(imgs_dir)
    for img_name in unique_img_names:
        curr_data = data[data['image_name'] == img_name]
    
        labels_path = os.path.join(labels_dir, img_name.replace('.jpg','.txt'))
        for index, row in curr_data.iterrows():
            with open(labels_path, 'a') as labels_file:
                labels_file.write(f"0 {row['bb_x_center_scaled']} {row['bb_y_center_scaled']} {row['bb_width_scaled']} {row['bb_height_scaled']}\n")

In [11]:
imgs_dir = os.path.join(multiple_faces_dir, 'images')
labels_dir = os.path.join(multiple_faces_dir, 'labels')
create_labels2(test_data, imgs_dir, labels_dir)

for face_type in single_face_types:
    parent_dir = os.path.join(single_faces_dir, face_type)
    imgs_dir = os.path.join(parent_dir, 'images')
    labels_dir = os.path.join(parent_dir, 'labels')
    create_labels2(test_data, imgs_dir, labels_dir)

In [12]:
def add_imgs_to_yolo_folder(input_dir):
    output_dir = os.path.join(input_dir, 'images')
    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
    
    for img_name in os.listdir(input_dir):
        current_img = os.path.join(input_dir, img_name)
        
        img = cv2.imread(current_img)

        img_rs = cv2.resize(img, (448,448))

        yolo_img_dir = os.path.join(output_dir, row['image_name'])
        
        cv2.imwrite(yolo_img_dir, img_rs)

In [13]:
# add_imgs_to_yolo_folder(multiple_faces_dir)